<div>
  <div class="col-md-1">
    <!-- Order (required, hidden: set with 'order' directive attribute) -->
    <input type="hidden"
           name="order"
           ng-model="ingredient.order"
           required />
  </div>

  <div class="col-md-3">
    <div class="form-group">

      <!-- Qty -->
      <input class="form-control input-sm"
             type="number"
             name="qty"
             step="any"
             min="0.1"
             ng-model="ingredient.qty" />

    </div>
  </div>

  <div class="col-md-3">
    <div class="form-group">

      <!-- Measure -->
      <input class="form-control input-sm"
             type="text"
             name="measure"
             ng-model="ingredient.measure"
             placeholder="Measure" />

    </div>
  </div>

  <div class="col-md-5">
    <div class="form-group">

      <!-- Name (required) -->
      <input class="form-control input-sm"
             type="text"
             name="name"
             ng-model="ingredient.name"
             placeholder="Ingredient"
             required />

    </div>
  </div>

  <div class="col-md-7 col-md-offset-1">
    <div class="form-group">

      <!-- Preparation -->
      <input class="form-control input-sm"
             type="text"
             name="preparation"
             ng-model="ingredient.preparation"
             placeholder="Preparation" />

    </div>
  </div>

  <!-- Show if `onRemove` handler is present -->
  <div class="col-md-4" ng-show="onRemove">
    <div class="form-group">

      <!-- Remove -->
      <button class="btn btn-danger btn-sm btn-block"
              type="button"
              ng-click="onRemove()">
        <i class="glyphicon glyphicon-minus" aria-hidden="true"></i>
        <span> Remove</span>
      </button>

    </div>
  </div>
</div>
