
public_html/app/*.js liguist-language=javascript
public_html/asset/style/*.less linguist-language=less

public_html/asset/style/recipetome.css linguist-vendored
public_html/vendor/* linguist-vendored
