<nav class="ui large green inverted menu">
  <a class="item"
     ui-sref="welcome"
     ui-sref-active="active">Home</a>
  <a class="item"
     ui-sref="profile"
     ui-sref-active="active"
     ng-show="vm.isLoggedIn()">Profile</a>
  <a class="item"
     ui-sref="recipes"
     ui-sref-active="active"
     ng-show="vm.isLoggedIn()">Recipes</a>

  <div class="right menu">
    <a class="ui item button" ui-sref="signup" ng-hide="vm.isLoggedIn()">Sign up</a>
    <a class="ui item button" ui-sref="login" ng-hide="vm.isLoggedIn()">Log in</a>

    <a class="ui item button" ng-click="vm.logout()" ng-show="vm.isLoggedIn()">Log Out</a>
  </div>
</nav>
