<div class="ui view container">
  <div class="ui middle aligned center aligned grid">
    <main class="column">
      <h1 class="ui header">Log In</h1>
      <form class="ui large form" name="form" ng-submit="vm.loginLocal()">

        <fieldset class="ui segment">
          <div class="field">
            <div class="ui left icon input">
              <input type="email"
                     name="email"
                     ng-model="vm.user.email"
                     placeholder="Email"
                     required />
              <i class="user icon"></i>
            </div>
          </div>
          <div class="field">
            <div class="ui left icon input">
              <input type="password"
                     name="password"
                     ng-model="vm.user.password"
                     placeholder="Password"
                     required />
              <i class="lock icon"></i>
            </div>
          </div>
        </fieldset>

        <button class="ui primary fluid large submit button"
                type="submit"
                ng-disabled="form.$invalid">Log In</button>
      </form>

      <div class="ui message">
        <p>No account yet? <a ui-sref="signup">Sign up</a></p>
      </div>
    </main>
  </div>
</div>
