<section>
  <form name="form" method="post" ng-submit="recipeForm.save(recipeForm.recipe)">
    <legend>
      <h1>New Recipe</h1>
    </legend>
    <div class="row">

      <div class="col-md-5 well">
        <!-- Photo Upload -->
        <div class="form-group">
          <fieldset>
            <img class="img-thumbnail center-block"
                 ng-src="{{recipeForm.thumbnailPreview(recipeForm.recipe.thumbnail)}}" />

            <br />

            <div class="input-group">
              <input class="form-control"
                     type="url"
                     name="thumbnail"
                     ng-model="recipeForm.recipe.thumbnail"
                     placeholder="Picture" />
              <span class="input-group-btn">
                <button class="btn btn-default btn-block">Upload</button>
              </span>
            </div>
          </fieldset>
        </div>
      </div>

      <div class="col-md-7">
        <fieldset>
          <!-- Title -->
          <div class="form-group">
            <input class="form-control input-lg"
                   type="text"
                   name="title"
                   ng-model="recipeForm.recipe.title"
                   placeholder="Title"
                   required autofocus />
          </div>

          <!-- Description -->
          <div class="form-group">
            <textarea class="form-control input-lg"
                   type="text"
                   name="description"
                   ng-model="recipeForm.recipe.description"
                   placeholder="Description"></textarea>
          </div>

          <div class="row">
            <div class="col-md-7">
              <!-- Category -->
              <div class="form-group">
                <input class="form-control input-lg"
                       type="text"
                       name="category"
                       ng-model="recipeForm.recipe.category"
                       placeholder="Category" />
              </div>
            </div>
            <div class="col-md-5">
              <!-- Rating -->
              <div class="form-group">
                <span class="form-control input-lg">Rating:&nbsp;<rating ng-model="recipeForm.recipe.rating"
                        max="{{recipeForm.rating.max}}"></rating></span>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <!-- Prep Time -->
              <div class="form-group">
                <label for="prep_time">Prep Time</label>
                <input class="form-control input-lg"
                       type="number"
                       name="prep_time"
                       ng-model="recipeForm.recipe.prep_time" />
              </div>
            </div>
            <div class="col-md-6">
              <!-- Cook Time -->
              <div class="form-group">
                <label for="cook_time">Cook Time</label>
                <input class="form-control input-lg"
                       type="number"
                       name="cook_time"
                       ng-model="recipeForm.recipe.cook_time" />
              </div>
            </div>
          </div>
        </fieldset>
      </div>
    </div>

    <br />

    <div class="row">
      <div class="col-md-5">
        <fieldset>
          <legend>
            <h3>Ingredients</h3>
          </legend>
          <!-- Ingredients -->
          <div class="panel panel-default"
               ng-repeat="ingredient in recipeForm.recipe.ingredients
                          | orderBy: 'order'">
            <div class="panel-body row">
              <div class="col-md-1">
                <h4><strong>{{ingredient.order = $index + 1}}</strong></h4>
                <!-- order -->
                <input type="hidden"
                       name="order"
                       ng-model="ingredient.order" />
              </div>

              <!-- qty -->
              <div class="col-md-3">
                <div class="form-group">
                  <input class="form-control input-sm"
                         type="number"
                         name="qty"
                         ng-model="ingredient.qty" />
                </div>
              </div>

              <!-- measure -->
              <div class="col-md-3">
                <div class="form-group">
                  <input class="form-control input-sm"
                         type="text"
                         name="measure"
                         ng-model="ingredient.measure"
                         placeholder="Measure" />
                </div>
              </div>

              <!-- name -->
              <div class="col-md-5">
                <div class="form-group">
                  <input class="form-control input-sm"
                         type="text"
                         name="name"
                         ng-model="ingredient.name"
                         placeholder="Ingredient" />
                </div>
              </div>

              <!-- preparation -->
              <div class="col-md-7 col-md-offset-1">
                <div class="form-group">
                  <input class="form-control input-sm"
                         type="text"
                         name="preparation"
                         ng-model="ingredient.preparation"
                         placeholder="Preparation" />
                </div>
              </div>

              <!-- remove -->
              <div class="col-md-4">
                <div class="form-group">
                  <button class="btn btn-danger btn-sm btn-block"
                          type="button"
                          ng-click="recipeForm.removeIngredient(ingredient)">
                    <i class="glyphicon glyphicon-minus" aria-hidden="true"></i>
                    <span> Remove</span>
                  </button>
                </div>
              </div>
            </div>
          </div>

          <!-- Add ingredient -->
          <button class="btn btn-default btn-lg btn-block"
                  type="button"
                  ng-click="recipeForm.addIngredient()">
            <i class="glyphicon glyphicon-plus" aria-hidden="true"></i>
            <span> Add Ingredient</span>
          </button>
        </fieldset>
      </div>

      <div class="col-md-7">
        <fieldset>
          <legend>
            <h3>Directions</h3>
          </legend>
          <div class="panel panel-default"
               ng-repeat="step in recipeForm.recipe.steps
                          | orderBy: 'order'">
            <div class="panel-body row">
              <div class="col-md-1">
                <h4><strong>{{step.order = $index + 1}}</strong></h4>
                <input type="hidden"
                       name="order"
                       ng-model="step.order" />
              </div>

              <div class="col-md-11">
                <!-- directions -->
                <div class="form-group">
                  <textarea class="form-control"
                         name="directions"
                         ng-model="step.directions"
                         placeholder="Directions"></textarea>
                </div>

                <div class="row">
                  <div class="col-md-9">
                    <!-- summary -->
                    <div class="form-group">
                      <input class="form-control input-sm"
                             type="text"
                             name="category"
                             ng-model="step.summary"
                             placeholder="Summary" />
                    </div>
                  </div>

                  <div class="col-md-3">
                    <!-- remove -->
                    <div class="form-group">
                      <button class="btn btn-danger btn-sm btn-block"
                              type="button"
                              ng-click="recipeForm.removeStep(step)">
                        <i class="glyphicon glyphicon-minus" aria-hidden="true"></i>
                        <span> Remove</span>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Add direction step -->
          <button class="btn btn-default btn-lg btn-block"
                  type="button"
                  ng-click="recipeForm.addStep()">
            <i class="glyphicon glyphicon-plus" aria-hidden="true"></i>
            <span> Add Step</span>
          </button>
        </fieldset>
      </div>
    </div>

    <hr />

    <div class="text-right">
      <!-- submit -->
      <button class="btn btn-lg btn-success"
              type="submit"
              ng-disabled="form.$invalid">Save</button>
      <!-- cancel -->
      <a class="btn btn-lg btn-warning" ui-sref="^.list">Cancel</a>
    </div>
  </form>
</section>
