<section>
  <header class="clearfix">
    <h1 class="pull-left">My Recipes</h1>
    <form class="form-inline pull-right" name="filterForm">
      <div class="form-group">
        <div class="input-group">
          <label for="category">Filter by Category </label>
          <select class="form-control"
                  type="select"
                  name="category"
                  ng-model="vm.categoryFilter"
                  ng-options="category.slug as category.label for category in vm.categories">
            <option value="">(All)</option>
          </select>
        </div>
      </div>
    </form>
  </header>

  <hr />

  <ul class="row list-unstyled"
      rt-masonry
      rt-tag="recipeList"
      rt-watch="filteredRecipes">
    <li class="col-xs-12 col-sm-6 col-md-4 col-lg-3"
        rt-masonry-stamp
        rt-tag="recipeList">
      <div class="well well-lg text-center">
        <i class="glyphicon glyphicon-plus text-muted"
           style="font-size: 62px; line-height: 2;"></i>
        <a class="btn btn-default btn-block" ui-sref="^.create">
          <span>Add New Recipe</span>
        </a>
      </div>
    </li>
    <li class="col-xs-12 col-sm-6 col-md-4 col-lg-3 masonry"
        ng-repeat="recipe in vm.recipes
                   | orderBy: '-created_on'
                   | filter:{ category: { slug: vm.categoryFilter || undefined, }, }
                   as filteredRecipes"
        rt-masonry-item
        rt-tag="recipeList">
      <rt-recipe recipe="recipe" format="card">
      </rt-recipe>
    </li>
  </ul>

  <!--

  -->

</section>
