<main class="ui view container">
  <h2 class="ui header">
    <img class="ui circular image" ng-src="{{vm.gravatarImage}}" />
    <span>User profile <small>ID: {{::vm.user._id}}</small></span>
  </h2>

  <h3 class="ui dividing heading">Account Credentials</h3>
  <form class="ui form" name="form"
        ng-submit="vm.updateCredentials(vm.credentials)"
        ng-init="form.editEmail = false;
                 form.editPassword = false;"
        novalidate>

    <fieldset class="ui segment">

      <!-- Change Email -->
      <div class="field">
        <label for="email">Email Address</label>
        <div class="ui left icon action input">
          <i class="mail icon"></i>
          <input type="email"
                 name="email"
                 ng-model="vm.credentials.email"
                 ng-model-options="{ allowInvalid: !form.editEmail }"
                 placeholder="New Email"
                 ng-readonly="!form.editEmail"
                 ng-disabled="!form.editEmail"
                 ng-required="form.editEmail" />

          <button class="ui button"
                  type="button"
                  ng-click="form.editEmail = !form.editEmail">
            <span>{{form.editEmail ? 'OK' : 'Change'}}</span>
          </button>
        </div>
      </div>

      <!-- Change Password -->
      <div class="field">
        <label for="email">Password</label>
        <div class="ui left icon action input">
          <i class="lock icon"></i>
          <input type="password"
                 name="password"
                 ng-model="vm.credentials.password"
                 ng-model-options="{ allowInvalid: !form.editPassword }"
                 placeholder="(hidden)"
                 ng-readonly="!form.editPassword"
                 ng-disabled="!form.editPassword"
                 ng-required="form.editPassword" />

          <button class="ui button"
                  type="button"
                  ng-click="form.editPassword = !form.editPassword">
            <span>{{form.editPassword ? 'OK' : 'Change'}}</span>
          </button>
        </div>
      </div>

      <div class="field" ng-show="form.editPassword">
        <label for="password_confirm">Confirm Password</label>
        <div class="ui left icon input">
          <i class="lock icon"></i>
          <input class="form-control"
                 type="password"
                 name="password_confirm"
                 ng-model="password_confirm"
                 ng-model-options="{ allowInvalid: !form.editPassword }"
                 placeholder="Confirm New Password"
                 input-match="form.password"
                 ng-required="form.editPassword"
                 ng-readonly="!form.editPassword"
                 ng-disabled="form.password.$pristine && !form.editPassword" />
        </div>
      </div>
    </fieldset>

    <!-- Authenticate Changes -->
    <div class="ui yellow segment" ng-show="form.editEmail || form.editPassword">
      <div class="field">
        <label for="current_password">Enter your current password to apply changes</label>
        <div class="ui left icon input">
          <i class="unlock icon"></i>
          <input type="password"
                 name="current_password"
                 ng-model="vm.credentials.current_password"
                 placeholder="Current Password"
                 required />
        </div>
      </div>

      <!-- Submit -->
      <button class="ui large fluid submit button"
              ng-show="form.editEmail || form.editPassword"
              type="submit"
              ng-disabled="form.$invalid">
        <span>Apply Changes</span>
      </button>
    </div>
  </form>

  <div class="ui clearing vertical segment">
    <button class="ui right floated negative left icon button"
            type="button"
            ng-click="vm.doUnregister()">
      <i class="remove user icon"></i>
      <span>Delete Account</span>
    </button>
  </div>

</main>
