<section class="ui middle aligned center aligned vertical welcome segment">
  <div class="ui text container">
    <h1 class="ui huge inverted header">
      {{::vm.greeting.headline}}
      <div class="ui inverted sub header" ng-bind="vm.greeting.lead"></div>
    </h1>

    <a class="ui huge primary labeled icon button" ui-sref="signup">
      <i class="add user icon"></i>
      <span>Sign up now to get started</span>
    </a>
  </div>
</section>

<main class="ui very padded vertical segment">
  <div class="ui stackable grid container">
    <div class="six wide column">
      <h3 class="ui center aligned icon header">
        <i class="lightning icon"></i>
        <span class="content">Newest Features</span>
      </h3>
      <div class="ui divider"></div>
      <div class="ui secondary segment" ng-repeat="release in vm.newFeatures">
        <h4 class="ui header" ng-bind="release.version"></h4>
        <ul class="ui list">
          <li ng-repeat="feature in release.features">{{::feature}}</li>
        </ul>
      </div>
    </div>

    <div class="six wide column">
      <h3 class="ui center aligned icon header">
        <i class="road icon"></i>
        <span class="content">Planned Features</span>
      </h3>
      <div class="ui divider"></div>
      <ul class="ui list">
        <li ng-repeat="feature in vm.todoFeatures">{{::feature}}</li>
      </ul>
    </div>
  </div>
</main>
