@import 'bootstrap.less';

// TODO: Bootstrap property overrides.

// Enable Bootstrap cursor styles with angular-bootstrap
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.recipe {
  &__thumbnail {
    &-wrap {
      position: relative;
      width: 100%;
      overflow: hidden;
    }

    &-img {
      display: block;
      max-width: 100%;
      height: auto;

      -ms-interpolation-mode: bicubic;
    }
  }

  &__title {

  }
}

.masonry {
  margin: 10px 0 25px 0;
}
